.contact-container {
    padding: 90px;
}

.container-left {
    flex-basis: 35%;
}

.container-right {
    flex-basis: 60%;
}

.container-left p {
    margin-top: 40px;
    font-weight: bold;
}

.container-left p i {
    color: #F95454;
    margin-right: 8px;
    font-size: 25px;
}

.sub-title {
    font-size: 30px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #F95454;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #333;
    transform: translateY(-5px);
}

.container-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    border: 2px solid #262626;
    padding: 15px;
    margin: 15px 0;
    color: #333;
    font-size: 15px;
    border-radius: 6px;
}

textarea {
    resize: none;
}

form input:focus, form textarea:focus{
    border: 4px solid #F95454;
} 

form .btn-2 {
    padding: 14px 30px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    background: #F95454;
    color: #fff;
}

button {
    border: none;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    color: #262626;
}

@media screen and (max-width: 900px) {
    .contact-container {
        padding: 70px;
    }
    
    .container-left {
        flex-basis: 35%;
    }
    .container-left p {
        margin-top: 30px;
        font-weight: 400;
        margin-right: -20px;
        font-size: 15px;
    }
    
    .container-left p i {
        color: #F95454;
        margin-right: 5px;
        font-size: 20px;
        display: inline-block;
    }

    .container-right {
        flex-basis: 55%;
    }
}

@media screen and (max-width: 600px) {    
    .sub-title {
        font-size: 30px;
    }

    .contact-container {
        padding: 38px;
    }
    
    .container-left, .container-right {
        flex-basis: 100%;
    }
}