.copyright {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    background: #F95454;
    padding: 25px 0px;
    font-weight: 300;
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .copyright {
        padding: 20px 0px;
        margin: auto;
    }
}